.successMsg{
    display: flex;
    flex-direction: column;
    height: 100svh;
    align-items: center;
    justify-content: center;
}
.successMsg > h2 {
    font-size: 42px;
    color: #495e49;
}
.successMsg > a, .successMsg > svg {
    text-align: center;
    margin: 0 auto;
}
.successMsg > svg {
    color: #495e49;
}