.testimonialCard{
    background-color: rgba(255, 255, 255, .1);
    border-radius: 16px;
    padding: 24px;
    min-width: 500px;
}
.testimonialCard > div{
    display: flex;
    gap: 14px;
}

.testimonialCard > div > img{
    width: 90px;
    height: 90px;
    border-radius: 100px;
    border: 1px solid rgba(0,0,0,.2);
}

.rating{
    white-space: nowrap;
}
.rating > svg{
    fill: #f4ce14;
}
.cardDetails{
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    gap: 4px;
}

.cardDetails > strong{
    font-size: 24px;
}

.testimonialCard > i{
    display: block;
    margin-top: 12px;
    font-size: 20px;
    color: #fff;
}
.testimonialCard > i > span{
    font-size: 32px;
    padding-right: 8px;
}
.testimonialCard > i > span:last-child{
    padding-left: 8px;
}