@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body{
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4{
  font-family: "Arvo", serif;
  font-weight: 400;
}

header {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 20px rgba(204, 204, 204, 0.3);
  min-height: 90px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo-outer{
  margin-right: 80px;
}
header > nav {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

header > nav > img{
  max-width: 180px;
}

header > nav > ul{
  margin-right: auto;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #edefee;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100svh - 70px);
  gap: 42px;
  padding: 0;
  transition: .2s all ease-in-out;
}
header > nav > ul.active{
  opacity: 100%;
  transform: translateY(0px);
  visibility: visible;
}

.menu-btn{
  background-color: transparent;
  border: none;
  margin-left: auto;
  cursor: pointer;
}

header > nav > ul a{
  font-family: "Karla", sans-serif;
  font-size: 32px;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  transition: .3s all ease-in-out;
}

@media only screen and (min-width: 767px){
  header > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: relative;
    height: auto;
    background-color: transparent;
    top: 0;
    gap: 24px;
    opacity: 100%;
    transform: translateY(0px);
    visibility: visible;
  }
  header > nav > ul a{
    font-size: 18px;
  }
  .menu-btn{
    display: none;
  }
}

header > nav > ul a:hover{
  color: #face14;
  transform: translateY(-1px);
}

footer {
  width: 100%;
  background-color: #333333;
}

footer img{
  width: 90px;
  max-height: max-content;
  filter: brightness(0) invert(1);
}

footer > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px;
  color: white;
  gap: 24px;
}
footer h3{
  font-size: 24px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  color: white;
  font-size: 18px;
  margin-bottom: 12px;
  padding: 0;
}

footer ul li a {
  color: white;
  text-decoration: none;
  transition: .3s all ease-in-out;
}
footer ul li a:hover{
  color: #face14;
}
.imageContainer{
  display: flex;
  align-items: center;
}

main {
  background-color: #edefee;
  min-height: calc(100svh - 80px);
}

.reservationForm{
  height: 100%;
}