@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body{
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4{
  font-family: "Arvo", serif;
  font-weight: 400;
}

header {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 20px #cccc;
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

header > nav > img{
  max-width: 180px;
  margin-right: 80px;
}

header > nav > ul{
  margin-right: auto;
  display: flex;
  gap: 24px;
  padding: 0;
}

header > nav > ul a{
  font-family: "Karla", sans-serif;
  font-size: 18px;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  transition: .3s all ease-in-out;
}

header > nav > ul a:hover{
  color: #face14;
  transform: translateY(-1px);
}

footer {
  width: 100%;
  background-color: #333333;
}

footer img{
  width: 90px;
  max-height: max-content;
  filter: brightness(0) invert(1);
}

footer > div {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px;
  color: white;
}
footer h3{
  font-size: 24px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  color: white;
  font-size: 18px;
  margin-bottom: 12px;
}

footer ul li a {
  color: white;
  text-decoration: none;
  transition: .3s all ease-in-out;
}
footer ul li a:hover{
  color: #face14;
}
.imageContainer{
  display: flex;
  align-items: center;
}

main {
  height: calc(100dvh - 90px);
  background-color: #edefee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservationForm{
  height: 100%;
}